// Variables
$moneyGreen: #216C2A;
$fireRed: #9C2A00;
$ylcPurpleLighter: #8a3bd2;
$ylcPurple: #7D26CD;
$ylcPurpleDarker: #641ea4;
$sexyBlue: #0000e5;
$white: #ffffff;
$gold: #ffd700;
$offWhite: #faebd7;
$links: #000080;
$lightestGrey: #ededed;
$lightGrey: rgb(211, 209, 209);
$darkGrey: rgb(51, 51, 51);
$darkerGrey: rgb(25, 25, 25);
$footerGrey: #565656;

// Sizes
$medium_text: 16px;

// Screen sizes
$tablet-width: 768px;
$desktop-width: 1024px;

// Mixins
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


// @media (min-width: 768px) and (max-width: 1023px) {
//   body {
//     color: orange !important;
//   }
// }
//
// @media (min-width: 1024px) {
//   body {
//     color: pink !important;
//   }
// }

.container-fluid {
  padding: 0;
}

#header {
  #topnav {
    //width: 100%;
    background-color: $darkGrey;
    height: 2.5em;
    border-bottom: 1px solid $darkerGrey;
    overflow: hidden;

    ul {
      height: 100%;
      text-align: right;
      float: right;
      margin: 0;

      li {
        display: inline-block;
        height: 100%;

        a {
          //font-family: "fire-sans-2";

          font-size: .75em;
          color: $lightGrey;
          height: 100%;
          padding: 1em;
          display: block;
          transition: all .3s ease-in-out;

        }
        a:hover {
          text-decoration: none;
          background-color: $darkerGrey;
        }
      }
    }
  }
  #midnav {
    background-color: $ylcPurple;
    text-align: center;
    border-top: 1px solid $ylcPurpleLighter;
    border-bottom: 1px solid $ylcPurpleDarker;

    #logo {
      padding: 1.5em;
    }
  }
  #mainnav {
    height: 3em;
    text-align: center;
    background-color: $ylcPurple;
    border-top: 1px solid $ylcPurpleLighter;
    overflow: hidden;

    ul {
      height: 100%;
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        height: 100%;
        a {
          font-size: 1em;
          color: white;
          height: 100%;
          padding: .75em 2.5em;
          display: block;
          transition: all .3s ease-in-out;
        }
        a:hover {
          background-color: #ffffff;
          color: $ylcPurple;
          text-decoration: none;
        }
      }
    }
  }
}

body {
  background-color: #ffffff;
  color: $darkerGrey;

  h3 {
    color: $darkGrey;
    @include tablet {
      color: orange;
    }
    @include desktop {
      color: red;
    }
  }

  h2 {
    color: $gold;
  }
  p {
    color: $darkGrey;
  }

  li {
    list-style: none;
  }
}


.slideme {
  max-width: 1000px;
  max-height: 250px;
  width: 100%;
  height: 100%;
}

.button {
  background-color: $sexyBlue;
  color: $fireRed;
  padding: 20px 10px;
  border-radius: 20px;
}

#footer {
  background-color: $footerGrey;
  color: white;
  width: 100%;
  text-align: left;
  margin-top: 15px;
  text-align: center;
  padding: 15px;

  #info {
    // background: orange;

    #left-links {
      // background: yellow;
    }
    #logo {
      // background: purple;
    }
    #right-links {
      // background: pink;
    }
  }
  #social {
    // background: brown;
  }
  #signature {
    padding-top: 5px;
    font-size: .8em;
  }
}

/* index.dust */
.carousel-img {
  width: 100%;
}

#news {
  background-color: $lightestGrey;
  text-align: left;
  padding: 0px 30px;

  .title {
    h3 {
      color: $ylcPurple;
    }
  }

  ul {
    padding: 0;
  }
}

#events {
  text-align: left;
}

/* newPost.dust */
#new-post {
  color: $darkGrey;
  input {
    color: $darkGrey;
    width: 400px;
    margin: 10px 0px;
  }
  #body {
    color: $darkGrey;
    width: 400px;
    height: 200px;
  }
}
