// Variables
$moneyGreen: #216C2A;
$fireRed: #9C2A00;
$ylcPurple: #7D26CD;
$ylcPurple-lighter: #8a3bd2;
$sexyBlue: #0000e5;
$white: #ffffff;
$gold: #ffd700;
$offWhite: #faebd7;
$links: #000080;
$darkGrey: rgb(51, 51, 51);
$lightGrey: rgb(211, 209, 209);

// Sizes
$medium_text: 16px;

#header {
  #topnav {
    background-color: $darkGrey;
    color: $lightGrey;
    text-align: right;
  }
  #midnav {
    background-color: $ylcPurple;
    text-align: center;
  }
  #mainnav {
    background-color: $ylcPurple;
    text-align: center;
  }
}

body {
  background-color: $white;
  padding-bottom: 52px;
  color: $white;

  h3 {
    color: $darkGrey;
  }

  h2 {
    color: $gold;
  }
  p {
    color: $darkGrey;
  }

  li {
    list-style: none;
  }
}


.slideme {
  max-width: 1000px;
  max-height: 250px;
  width: 100%;
  height: 100%;
}

.button {
  background-color: $sexyBlue;
  color: $fireRed;
  padding: 20px 10px;
  border-radius: 20px;
}

#footer {
  background-color: $darkGrey;
  color: white;
  width: 100%;
  text-align: left;
  padding: 10px;
}

#navbarBottom {

  background-color: $darkGrey;

  #links {
    padding-top: 10px;
    text-align: center;
  }

  li {
    list-style: none;
    display: inline;
    padding: 0 40px;
  }
  a {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  a:hover {
    color: $ylcPurple;
    text-decoration: none;
  }
}

/* new_post.dust */
#new-post {
  color: $darkGrey;
  input {
    color: $darkGrey;
    width: 400px;
    margin: 10px 0px;
  }
  #body {
    color: $darkGrey;
    width: 400px;
    height: 200px;
  }
}
