// Variables
$moneyGreen: #216C2A;
$fireRed: #9C2A00;
$ylcPurple: #7D26CD;
$ylcPurple-lighter: #8a3bd2;
$sexyBlue: #0000e5;
$white: #ffffff;
$gold: #ffd700;
$offWhite: #faebd7;
$links: #000080;
$darkerGrey: rgb(25, 25, 25);
$darkGrey: rgb(51, 51, 51);
$lightGrey: rgb(211, 209, 209);

// Sizes
$medium_text: 16px;

#header {
  #topnav {
    width: 100%;
    background-color: $darkGrey;
    height: 40px;

    ul {
      height: 100%;
      text-align: right;
      float: right;
      margin: 0;

      li {
        display: inline-block;
        height: 100%;

        a {
          //font-family: "fire-sans-2";

          font-size: .75em;
          color: $lightGrey;
          height: 100%;
          padding: 1em;
          display: block;
          transition: all .3s ease-in-out;

        }
        a:hover {
          text-decoration: none;
          background-color: $darkerGrey;
        }
      }
    }
  }
  #midnav {
    background-color: $ylcPurple;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    #logo {
      padding: 2em;
    }
  }
  #mainnav {
    height: 3em;
    text-align: center;
    vertical-align: baseline;
    background-color: $ylcPurple;

    ul {
      height: 100%;
      display: inline-block;
      margin: 0;
      li {
        display: inline-block;
        height: 100%;
        a {
          font-size: 1.15em;
          color: white;
          height: 100%;
          padding: .75em 2.5em;
          display: block;
          transition: all .3s ease-in-out;
        }
        a:hover {
          background-color: #ffffff;
          color: $ylcPurple;
          text-decoration: none;
        }
      }
    }
  }
}

body {
  background-color: $white;
  padding-bottom: 52px;
  color: $lightGrey;

  h3 {
    color: $darkGrey;
  }

  h2 {
    color: $gold;
  }
  p {
    color: $darkGrey;
  }

  li {
    list-style: none;
  }
}


.slideme {
  max-width: 1000px;
  max-height: 250px;
  width: 100%;
  height: 100%;
}

.button {
  background-color: $sexyBlue;
  color: $fireRed;
  padding: 20px 10px;
  border-radius: 20px;
}

#footer {
  background-color: $darkGrey;
  color: white;
  width: 100%;
  text-align: left;
  padding: 10px;
}

/* newPost.dust */
#new-post {
  color: $darkGrey;
  input {
    color: $darkGrey;
    width: 400px;
    margin: 10px 0px;
  }
  #body {
    color: $darkGrey;
    width: 400px;
    height: 200px;
  }
}
