// Variables
$moneyGreen: #216C2A;
$fireRed: #9C2A00;
$ylcPurple: #7D26CD;
$ylcPurple-lighter: #8a3bd2;
$sexyBlue: #0000e5;
$lisaYellow: #e6e600;
$white: #ffffff;
$gold: #ffd700;
$offWhite: #faebd7;
$links: #000080;
$darkGrey: #323232;

// Sizes
$medium_text: 16px;

body {
  background-color: $ylcPurple;
  padding-bottom: 50px;

  h2 {
    color: $gold;
  }
  p {
    color: $white;
  }
}


.slideme {
  max-width: 1000px;
  max-height: 250px;
  width: 100%;
  height: 100%;
}

.button {
  background-color: $sexyBlue;
  color: $fireRed;
  padding: 20px 10px;
  border-radius: 20px;
}

#header {
  width: 100%;
  height: 250px;
  background-color: white;

  #logo_container {

    display: inline-block;
    width: 15%;
    height: 250px;
    vertical-align: top;

    #logo {
      width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  } // #logo_container

  #banner {
    // background-color: yellow;
    width: 85%; height: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    border: 1px solid green;

    li {
      list-style: none;
    }
    ul li {
      float: left;
    }
    img {

    }
  }
} // #header

#footer {
  background-color: $darkGrey;
  color: white;
  width: 100%;
  text-align: left;
  padding: 10px;
}

#navbar_bottom {

  background-color: $darkGrey;

  #links {
    padding-top: 10px;
    text-align: center;
  }

  li {
    list-style: none;
    display: inline;
    padding: 0 40px;
  }
  a {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  a:hover {
    color: $ylcPurple;
    text-decoration: none;
  }
}
